.tweet-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 250px;
  padding: 1rem;
  margin: 1rem;
  border-style: solid;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}
textarea {
  width: 100%;
  height: auto;
  font-family: 'Source Sans Pro';
  background-color: #f4f1ec;
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;
  border-bottom-style: none;
}
.avatar {
  width: 80px;
  height: 100%;
}
.statement {
  display: flex;
  align-self: center;
  width: 100%;
}

.line {
  width: 90%;
  height: 2px;
  background-color: black;
}

footer {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
footer p span{
  font-size: 18px;
}

.handle {
  color: rgb(165, 157, 157);
}

.icons {
  display: flex;
  flex-direction: row;
  flex-grow: 5;
  justify-content: end;
}

article:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

#flag:hover {
  color: rgb(212, 191, 52);
}
#retweet:hover {
  color: rgb(212, 191, 52);
}
#heart:hover {
  color: rgb(212, 191, 52);
}

